<!DOCTYPE html>
<html lang="pt" xmlns:th="www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="index">
<head>
<title>Prime Eventos - Compras</title>
</head>
<body>

	<section class="container" layout:fragment="conteudo" style="margin-top: 100px;">
		
		<div th:if="${#lists.size(compras) > 0}">
			<h1>Histórico de compras</h1>
			<div class="row justify-content-around">
				<div class="col-12">
					<div th:each="compra: ${compras}">
						<table class="table table-striped table-sm" style="width: 60%;">
					       <thead>
					           <tr class="text-center">
					               <th th:text="'Compra#' + ${compra.id}"> </th>
					               <th>Evento</th>
					               <th class="text-center">Quantidade</th>
					               <th class="text-center">Subtotal</th>
					           </tr>
					       </thead>
					       <tbody>
					       	<tr th:each="compraEvento: ${compra.compraEventos}" class="text-center" style="font-size: 1.1em; line-height: 2em;">
					               <td><img th:src="@{'data:image/jpge;base64,' + ${compraEvento.evento.imagemCard64}}" width="70px;"/></td>
					               <td th:text="${compraEvento.evento.nome}">Nome do Evento</td>
					               <td style="padding: auto 0">
					               	<span th:text="${compraEvento.qtdIngresso}"></span>
					               </td>
					               <td class="text-center" th:text="'R$ ' + ${#numbers.formatDecimal(compraEvento.subtotal, 0, 'POINT', 2, 'COMMA')}"></td>
					           </tr>
					           <tr class="text-right">
					               <td></td>
					               <td></td>
					               <td></td>
					               <td><strong th:text="'Total: ' + ' R$ ' + ${#numbers.formatDecimal(compra.total, 0, 'POINT', 2, 'COMMA')}"></strong></td>
					           </tr>
					       </tbody>
				    	</table>
				    	<hr>		
					</div>
				</div>
			</div>
		</div>
		<div th:unless="${#lists.size(compras) > 0}">
			<div class="text-center">
				<h2>Você ainda não fez nenhuma compra.</h2>
				<h4>Que tal dar uma olhada nos nossos eventos?</h4>
				<a th:href="@{/eventos/}">Clique aqui e confira!</a>
			</div>
		</div>
		
	</section>
	
</body>
</html>