<!DOCTYPE html>
<html lang="pt" xmlns:th="www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="index">
<head>
<title>Prime Eventos - Compras</title>
<link rel="stylesheet" th:href="@{/css/compras.css}">
</head>
<body>

	<section class="container" layout:fragment="conteudo" style="margin-top: 100px;">
		
		<div th:if="${#lists.size(compras) > 0}">
			<h1 class="text-center">Histórico de compras</h1>
			<div id="integration-list">
    			<ul>
					<li th:each="compra: ${compras}">
			            <a class="expand">
			                <i class="right-arrow">+</i>
		                    <h2 th:text="'Compra#' + ${compra.id} + ' - ' + ${#temporals.format(compra.hora, 'dd/MM/yyy HH:mm:ss')}">Número da compra</h2>
		                    <span th:text="'Total: R$ ' + ${#numbers.formatDecimal(compra.total, 0, 'POINT', 2, 'COMMA')}">detalhes</span>
			            </a>
						<div class="detail">
							<div th:each="compraEvento: ${compra.compraEventos}">
								<hr>
								<div class="row mb-2">
			                		<div id="left" style="width:15%;float:left;height:100%;">
					                    <div id="sup" class="text-center">
					                        <img th:src="@{'data:image/jpge;base64,' + ${compraEvento.evento.imagemCard64}}" width="60%" />
					                    </div>
				                	</div>
				                	<div id="right" style="width:85%;float:right;height:100%;padding-left:20px;">
				                    	<div id="sup">
					                        <div>
					                        	<strong><span th:text="${compraEvento.evento.nome}"></span><br/></strong>
					                        	<span th:text="${compraEvento.evento.pequenaDescricao}"></span><br/>
					                        	<span th:text="'Quantidade: ' + ${compraEvento.qtdIngresso} + ' | Valor unitário: R$' + ${#numbers.formatDecimal(compraEvento.evento.preco, 0, 'POINT', 2, 'COMMA')}
					                        		+ ' | Subtotal: R$' + ${#numbers.formatDecimal(compraEvento.subtotal, 0, 'POINT', 2, 'COMMA')}"></span>
					                            <br />
					                            <br /><a th:href="@{/eventos/{id}(id = ${compraEvento.evento.id})}" class="btn btn-primary">Ver evento</a>
					                        </div>
				                    	</div>
				                	</div>
				                </div>
				                <hr>
			            	</div>
		            	</div>
		        	</li>
	      		</ul>
			</div>
		</div>
		<div th:unless="${#lists.size(compras) > 0}">
			<div class="text-center">
				<h2>Você ainda não fez nenhuma compra.</h2>
				<h4>Que tal dar uma olhada nos nossos eventos?</h4>
				<a th:href="@{/eventos/}">Clique aqui e confira!</a>
			</div>
		</div>
		
	</section>
	<th:block layout:fragment="javascript-extra">
		<script>
			$(function() {
			  $(".expand").on( "click", function() {
			    $(this).next().slideToggle(200);
			    $expand = $(this).find(">:first-child");
			    
			    if($expand.text() == "+") {
			      $expand.text("-");
			    } else {
			      $expand.text("+");
			    }
			  });
			});
		</script>
	</th:block>
	
</body>
</html>