/********************/
/*      NavBar      */
/********************/


.navbar{
	background: #3867d6;
}

.navbar-brand {
	color: white;
}

.navbar-brand:hover{
	color: #fff;
}

li a.nav-link{
	color: white !important;
}

li a.nav-link:hover {
	color: black !important;
}

/* Login */

div #login-form {	
	text-align: center;
}

.login-form{
	min-width: 250px;
	padding: 10px;
	overflow:hidden;
	background-color: rgba(56, 103,214, 84, 0.3);
}

.login-form input{
	margin-bottom: 10px;
}

.login-form button{
	width: 100%;
	line-height: 1.3em;
}

#forgot-pass {
	font-size: 14px;
}

@media(max-width:991px){
    #login-form, #adm-menu, #perfil{
        background-color: #3867d6;
        color: #fff;
        
    }
       
    #adm-menu, #perfil{
    	max-width: 250px;
    	border: none;
    }
    

    #adm-menu a, #perfil a {
    	color: #fff !important;
    }
    
    #perfil button{
    	color: #fff;
    }
    
    #perfil h5 {
    	color: #fff;
    }
    
    
    #adm-menu a:hover {
    	background: none;
    }
    
    #forgot-pass, #cadastre {
    	color: white;
    }
    #forgot-pass:hover, #cadastre:hover {
    	color: white;
    }
    
    ul li.nav-item {
		margin-left: 30px;
	}
}





/********************/
/*     Contato      */
/********************/

.contato {
	display: inline-block;
}

#contato {
	border: 4px solid black;
	border-radius: 15px;
	padding:10px;
	max-width: 500px;
	background: rgba(149, 175, 192, 0.1);
	margin-top: 100px;
}



/********************/
/*     Conteudo     */
/********************/

/* Carousel */

#conteudo {
	margin-top: 55px;
}

/* Cards */

.card {
	margin: 0 auto;
}

.card label{
	position: absolute;
	background-color: #FFE4AC ;
	padding: 5px 10px;
	top:166px;
	color: black;
}
.card .date{
	font-size:15px;
	font-family: Impact, fantasy;
	top:15px;
	border-radius: 50%;
	width:55px;
	right:20px;
}

/* Cadastro */
#form-cliente {
	border: 5px solid #3867d6;
	border-radius: 30px;
	padding: 10px;
}

#cadastro-botao {
	height: 2em;
	line-height: 1em;
	width: 80%;
}

.error input, .error textarea{
	border: 1px solid red;
}

a#voltar:hover {
	text-decoration: none;
}


/********************/
/*      Footer      */
/********************/


#page-container {
  position: relative;
  min-height: 50vh;
}


#footer {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
}

/********************/
/*     Cadastros    */
/********************/

#evento-form label {
	border: none;
	padding-left: 0;
	padding: 0;
}

input.form-control {
	height: 2.5em !important;	
}

/********************/
/*     Detalhes     */
/********************/

#imgBanner img{
	width: 100%;
	max-width: 1200px;
	max-height: 500px;
	margin:0 auto;
	border: 4px double black;
}

#endereco p{
	margin: 0;
	padding: 0;
}


/********************/
/*     Links        */
/********************/

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}
